
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.top_bar {
    color: #ffa01cda;
    background-size: 220px;
    background-image: url(images/navbar.png);
    background-repeat: repeat-x;
    padding: 0 30px;
    filter: grayscale(100%);
}

.nume_si_telefon {
    color: #484747;
    font-size: 11px;
    font-family: 'Prata', serif;
    font-weight: bold;
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
}

.top_bar_telefon,
 ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

#phone {
    width: 15px;
    height: 15px;
}

nav {
    margin-top: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin-right: 5%;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #137547;
    font-size: 1em;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    transition: font-size 1s;
}

nav ul li a:hover {
    color: #ffa01cda;
    font-size: 1.2em;
}

#logo {
    width: 95px;
    height: 95px;
}

.prezentare_catalog {
    background-image: url('images/catalog_img.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.box_ct{
    height: 100vh;
    overflow: hidden;
}

.box {
    height: 100%;
    overflow-x: hidden;
}

.box_section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 50px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.bg_principal img {
    position: absolute;
    height: 900px;
    width: 1000px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: 50% 65%;
    background-position: center center;
    filter: brightness(85%);
    z-index: -1000;
    transform: translate3d(0, 0, -1px) scale(2);
}

.container_prezentare_catalog {
    position: absolute;
    width: 1100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: -420px;
    margin-left: 90px;
    padding-top: 60px;
    padding-right: 80px;
    padding-left: 80px;
}

.info_prezentare_catalog {
    width: 500px;
    height: 430px;
    color: #000000;
    margin-left: 150px;
}

.info_prezentare_catalog h3 {
    color: #717171;
    font-size: 60px;
    text-align: center;
    margin-bottom: 112px;
}

.info_prezentare_catalog h5 {
    font-size: 27px;
    margin-top: -5px;
    margin-bottom: 60px;
}

.info_prezentare_catalog p {
    color: #717171;
    font-size: 15px;
    font-family: 'Blinker', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 50px;
}

.img_prezentare_catalog {
    position: relative;
    width: 430px;
    height: 440px;   
}

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #ffa01cda;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
  
.active, 
.dot:hover {
    background-color: #717171;
}

.prezentare_produse_catalog {
    position: relative;
    background-color: #ffffff;
    padding-top: 140px;
    padding-bottom: 250px;
    z-index: 0;
}

.container_produse {
    padding: 40px 80px;
}

.produse_catalog {
    margin-bottom: -30px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 220px 60px;
}

.item_1 {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.img_item {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
}

.img_item img {
    width: 300px;
    height: 350px;
    transition: transform 0.25s;
}

.img_item:hover img {
    transform: scale(1.1);
}

.box_item {
    position: absolute;
    width: 250px;
    height: 220px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 25px;
    transition: -webkit-transform 0.3s ease-in-out;
}

.box_item:hover {
    transform: scale(1.1);
    transform: translateY(-30px);
}

.p1_box_item {
    color: #ffa01cda;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box_item h3 {
    color: #000000;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}

.p2_box_item {
    display: block;
    color: #7d7d7d;
    text-align: center;
    margin: 0 15px;
}

.prezentare_verticala {
    position: relative;
    z-index: 0;
}

.container_prezentare_verticala {
    position: relative;
    width: 100%;
    text-align: center;
}

.pv_produse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.prezentare_verticala_dr1 {
    position: relative;
    color: #ffffff;
    text-align: center;
}

.prezentare_verticala img {
    background-color: none;
    transition: transform 1s;
}

.pv_img {
    height: 450px;
    object-fit: cover;
    filter: brightness(65%);
}

.pv_img:hover {
    transform: scale(0.9); 
}

.prezentare_verticala_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
}

.pv_text {
    font-size: 30px;
    font-family: 'Blinker', sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.parteneri {
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.parteneri h3 {
    color:#666666;
    font-size: 40px;
    font-family: 'Blinker', sans-serif;
    font-weight: bolder;
}

.parteneri_imagini {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    margin: 0 150px;
}

.parteneri_imagini img{
    height: 100px;
}

footer {
    width: 100%;
    height: 270px;
    background-color: #cccccc;
}

.sectiune_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.titlu_facebook_footer {
    font-size: 25px;
    padding: 20px 20px;
}

.titlu_contact_footer {
    font-size: 25px;
    padding: 20px 20px;
}

.urmareste_footer {
    display: flex;
    flex-direction: column;
}

.urmareste_footer img {
    width: 55px;
    height: 55px;
    padding-top: 7px;
    padding-left: 35px;
}

.contact_footer img {
    width: 50px;
    height: 50px;
}

.contact_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2px;
    padding-left: 40px;
}

.box1_contact {
    display: flex;
    flex-direction: column;
}

.box2_contact {
    display: flex;
    flex-direction: row;
}

.copy {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#btn_top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
}

#btn {
    display: block;
    width: 44px;
    height: 44px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    text-decoration: none;
    background-color: #ffa01cda;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.arrow {
    display: inline-block;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}