@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

.top_bar {
    color: #ffa01cda;
    padding: 0 30px;
    background-size: 220px;
    background-image: url(images/navbar.png);
    background-repeat: repeat-x;
    padding: 0 30px;
    filter: grayscale(100%);
}


.nume_si_telefon {
    color: #484747;
    font-weight: bold;
    font-family: 'Prata', serif;
    font-size: 11px;
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
}

.top_bar_telefon, ul {
    margin: 0;
    gap: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#phone {
    width: 15px;
    height: 15px;
}

nav {
    margin-top: 5px;
}

nav ul {
    gap: 5px;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #137547;
    font-family: 'Anton', sans-serif;
    font-size: 1em;
    text-decoration: none;
    transition: font-size 1s;
}

nav ul li a:hover {
    color: #ffa01cda;
    font-size: 1.2em;
}

#logo {
    width: 95px;
    height: 95px;
}

.contact {
    position: relative;
}

.container_contact {
    width: 100%;
}

.sectiuni_contact {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.harta_contact {
    filter: brightness(60%);
}

.formular_contact {
    width: 800px;
    height: 740px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
}

.formular_contact h2 {
    font-weight: 300;
    font-size: 50px;
    color: white;
    font-family: 'Blinker', sans-serif;
    margin-bottom: 55px;
}

form {
    position: relative;
}

.input_formular {
    position: relative;
    display: block;
    width: 100%;
    line-height: 1;
    margin-top: 20px;
}

.input_date {
    display: block;
    width: 100%;
    background: padding-box none;
    border: none;
    border-bottom: 1px solid white;
    padding: 13px 0;
    line-height: 1.2;
    font-size: 1.1rem;
    color: white;
    outline: 0;
}

.buton_formular {
    position: relative;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Blinker', sans-serif;
    letter-spacing: 1px;
    border: 3px solid #ffa01cda;
    border-radius: 40px;
    background-color: transparent;
    color: #fff;
    padding: 20px 200px;
    cursor: pointer;
    outline: 0;
    margin-top: 60px;
}

.buton_formular:hover {
    background-color:#ffa01cda ;
}

footer {
    width: 100%;
    height: 270px;
    background-color: #ccc;
}

.sectiune_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.titlu_facebook_footer {
    font-size: 25px;
    padding: 20px 20px;
}

.titlu_contact_footer {
    font-size: 25px;
    padding: 20px 20px;
}

.urmareste_footer {
    display: flex;
    flex-direction: column;
}

.urmareste_footer img {
    width: 55px;
    height: 55px;
    padding-top: 7px;
    padding-left: 35px;
}

.contact_footer img {
    width: 50px;
    height: 50px;
}

.contact_footer {
    margin-top: 2px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1_contact {
    display: flex;
    flex-direction: column;
}

.box2_contact {
    display: flex;
    flex-direction: row;
}

.copy {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#btn_top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
}

#btn {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 42px;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #ffa01cda;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

