@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

html {
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
}

.header {
    position: absolute;
    width: 100%;
}

.top_bar {
    color: black;
    background-size: 220px;
    padding: 0 30px;
    background-image: url(images/navbar.png);
    background-repeat: repeat-x;
    filter: grayscale(100%);
}


.nume_si_telefon {
    color: #484747;
    font-weight: bold;
    font-family: 'Prata', serif;
    font-size: 11px;
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
}

.top_bar_telefon, ul {
    margin: 0;
    gap: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#phone {
    width: 15px;
    height: 15px;
}

nav {
    margin-top: 5px;
}

nav ul {
    gap: 5px;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #137547;
    font-family: 'Anton', sans-serif;
    font-size: 1em;
    text-decoration: none;
    transition: font-size 1s;
}

nav ul li a:hover {
    color: #707070;
    font-size: 1.2em;
   
}

#logo {
    width: 95px;
    height: 95px;
}

main {
    padding-top: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section { 
    width: 100%;
    height: 500px;
} 

.sectiune_titlu_pagina {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.background_titlu_pagina {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(65%);
    z-index: -1000;   
}

.sectiune_titlu_pagina h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    margin-top: -20px;
    margin: 85px 0 0 0;
    animation-name: titlu_h1;
    animation-duration: 2s;
}

.sectiune_titlu_pagina h4 {
    color: white;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 5%;
    opacity: 75%;
    animation-name: flip;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;

}

.slogan_titlu_pagina {
    animation: flip 4s infinite;
    animation-delay: calc(.2s * var(--i))
}

#btn {
    color: white;
    font-size: 40px;
    font-family: 'Cookie', cursive;
    background: transparent;
    padding: 10px 50px;
    margin-top: 17px;
    min-width: 150px;
    border: none;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 1s;
}

#btn a {
    color: white;
}

#btn a:link {
    text-decoration: none;
}

#btn #circle {
    width: 5px;
    height: 5px;
    top: 0;
    left: 50%;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
    background: rgb(128, 128, 128, 0.6);

}

#btn:hover #circle {
    height: 50px;
    width: 100%;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.sectiune_prezentare_pagina {
    width: 100%;
    height: 1500px;
}

.sectiune_prezentare_pagina h3 {
    color: black;
    opacity: 60%;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.linie_orizontala {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linie_orizontala img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.despre_noi {
    width: 750px;
    height: 500px;
    padding-top: 110px;
    padding-bottom: 100px;
    display: flex;
    margin: 0 auto;
}

.despre_noi_imagini {
    color: #F1F1F2;
    width: 70%;
    position: relative;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.22);
}


.despre_noi_imagini img {
    width: 390px;
    border-radius: 0 20px 20px 0;
}

.despre_noi_informatii {
    width: 50%;
    height: calc(100% - 70px);
    top: 40px;
    position: relative;
    box-shadow: 0 8px 32px 0 rgba(18, 31, 59, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 20px 0 0 20px;
}

.despre_noi_informatii p {
    height: 10px;
    width: 300px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    word-spacing: 3px;
    opacity: 60%;
    padding-top: 70px;
    padding-bottom: 190px;
    padding-left: 40px;
    padding-right: 60px;
    display: flex;
    text-align: center;
    flex-direction: row; 
    flex-wrap: wrap;
    align-content: flex-start;   
}


.despre_noi a {
    color: black;
    font-weight: bold;   
    text-decoration: none;
} 

.despre_noi a:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

.logo_luminos ul {
    position: relative;
    display: flex;
}
  
.logo_luminos ul li {
    list-style: none;
}
  

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: 0;
    z-index: 100;
  }
  
.logo_luminos {
    position: relative;
    height: 30px;
    width: 330px;
    color: #555;
    font-size: 15px;
    margin: 20px 22px; 
    display: flex;
    align-items: center;
}

input[type="checkbox"] ~ div {
    color: rgb(69, 172, 102);
    text-shadow: 0 0 15px rgb(30, 90, 68), 0 0 25px rgb(46, 156, 92);
    animation: glow 1.5s linear infinite;
}
  
.prezentare_produse {
    margin-top: 150px;
    gap: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.produs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produs img {
    --s: 150px;
    --b: 8px;     
    --g: 14px;    
    --c: #484747;
    border-radius: 50%; 
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    transition: 0.3s;
}

.produs img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
  
img + img {
    border-radius: 50%;
}

.descriere_produs {
    color: black;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    text-align-last: center;
    text-decoration: none;
    letter-spacing: 0.9px;
    margin-top: 80px;
    opacity: 60%;
    transition: font-size 1s;
}

.produs a {
    margin-top: 40px;
}

.produs a:link {
    text-decoration: none;
}

footer {
    width: 100%;
    height: 270px;
    background-color: #ccc;
}

.sectiune_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.titlu_facebook_footer {
    font-size: 25px;
    padding: 20px 20px;
}

.titlu_contact_footer{
    font-size: 25px;
    padding: 20px 20px;
}

.urmareste_footer {
    display: flex;
    flex-direction: column;
}

.urmareste_footer img {
    width: 55px;
    height: 55px;
    padding-top: 7px;
    padding-left: 35px;
}

.contact_footer img {
    width: 50px;
    height: 50px;
}

.contact_footer {
    margin-top: 2px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1_contact {
    display: flex;
    flex-direction: column;
}

.box2_contact {
    display: flex;
    flex-direction: row;
}

.copy {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}


@keyframes titlu_h1 {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}

  @keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

@keyframes rotire_imagine {
 0%, 80% {
    transform: rotate(360deg);
 }
}
